# ============================================================
# GIT
# ============================================================

.git
.gitignore
.github


# ============================================================
# ENVIRONMENT / SECRETS
# ============================================================

.env


# ============================================================
# PYTHON
# ============================================================

__pycache__/
*.py[cod]
*.pyo
*.pyd

.venv/
venv/
env/


# ============================================================
# JUPYTER
# ============================================================

.ipynb_checkpoints/


# ============================================================
# IDE
# ============================================================

.vscode/
.idea/


# ============================================================
# DOCUMENTATION
# ============================================================

*.md


# ============================================================
# OUTPUTS
# ============================================================

outputs/


# ============================================================
# RAW DATA
# ============================================================
#
# Importante:
#
# Os CSVs NÃO devem entrar na imagem Docker.
#
# Eles serão montados através do volume:
#
# ./data:/app/data
#
data/